
[Unit]
Description=Pi camera SRT stream
After=network-online.target
Wants=network-online.target

[Service]
EnvironmentFile=/home/skylar/stream.env
ExecStartPre=/bin/sleep 10
ExecStart=/home/skylar/stream.sh
Restart=always
RestartSec=5
User=skylar

[Install]
WantedBy=multi-user.target
